name: Deploy to GitHub Pages

on:
  push:
    branches: [develop]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v3
      - uses: volta-cli/action@v4

      - name: Install dependencies
        run: yarn

      - name: Build website
        run: yarn build

      - uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.ref == 'refs/heads/develop' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
